/* Main Styling */
body {
  background-color: #faf9f4;
  max-width:1200px;
  width:100%;
  margin:auto;
  padding-left:1em;
  padding-right:1em;
}

.wrapper {
  margin-left:15px;
  margin-right:15px;
  margin-top:50px;
  margin-bottom:40px;
  /*border:1px solid red;*/
}

/* Header styling */
.logo {
  text-decoration:none;
  font-family: 'Amatic SC', cursive;
  font-size:2em;
  font-weight:bold;
  color:black;
}

.nav {
  float:right;
  width:50%;
  text-align:right;
}

.nav li {
  display:inline;
  font-family:'Montserrat', sans-serif;
  font-size:.9em;
  text-transform: uppercase;
  margin-left:10px;
}

.nav li a {
  text-decoration:none;
  color:black;
}

.nav li a:hover{
  color:#4827f9;
}
/* End Header */

/* Banner */
.banner{
  width:100%;
}
/* End Banner */

/* ====== Text and photos ====== */
.text-and-photos{
  /*border:1px solid black;*/
  width:100%;
  margin:auto;
}

.text-and-photos h2{
  font-family:'Montserrat', sans-serif;
  text-transform:uppercase;
  width:100%;
}
/* Whois */
.whois{
  width:50%;
  float:left;
}

.whois p{
  font-family: 'Noto Serif', serif;
  font-size: .9em;
  line-height:2em;
}

.whois ul{
  margin-top:2em;
  margin-left:-2.5em;
  margin-bottom:4em;
}

.whois li{
  display:inline;
}

.whois li img{
  width:2em;
  margin-right:1.5em;
}

.email{
  text-decoration:none;
  font-family:'Montserrat', sans-serif;
  text-transform:uppercase;
  color:white;
  background-color:#4827f9;
  border-radius:.25em;
  padding:1em 2em 1em 2em;
}

.email:hover{
  background-color:#917dfb;
}

/* Photos */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.photos{
  width:50%;
  float:right;
}

.photos h2{
  margin-left:1.5em;
  font-family:'Montserrat', sans-serif;
  text-transform:uppercase;
}

.photos ul{
  margin-bottom:-15px;
}

.photos li{
  display:inline;
}

.photos img{
  max-width:22.5%;
}

/* Linebreak */
.footer{
  margin-top:2em;
  margin-bottom:5em;
  width:100%;
}

.line{
  clear:both;
  border:1px solid darkgray;
  width:100%;
}
